@model ICollection<PhotoContest.Web.Models.AccountModels.UserSearchViewModel>

<li>
    @foreach (var user in Model)
    {
        <ul>@user.UserName <span class="add-freind" id="@user.Id" username="@user.UserName">add</span></ul>
    }
</li>

<script>
    $('.add-freind').click(function () {
        var userId = $(this).attr('id');


        $('#added-users').css("visibility", "visible");
        var username = $(this).attr('username');
        $('<input>').attr({
            type: 'hidden',
            name: "UserIds",
            value: userId,
            id: 'input-for-binder' + userId
        }).appendTo('#users-for-add');

        var userDiv = $('<div>');
        userDiv.append('<p>' + username + '</p>');
        userDiv.id = 'user-div-section' + userId;
        var delBtn = $('<button>');
        delBtn.text('remove');
        delBtn.click(function () {
            console.log($('#added-users').children().length);
            $(this).parent().remove();
            $('#input-for-binder' + userId).remove();
        });

        userDiv.append(delBtn);

        $('#added-users').append(userDiv);
    })
</script>